<div class="jumbotron text-center">
  <h1>Employment App</h1>
  <p class="lead">Welcome to My Employment App</p>
  <div><a [routerLink]="['/register']" class="btn btn-primary">Register</a><a [routerLink]="['/login']" class="btn btn-default">Login</a></div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Looking For a Job!</h3>
    <p>Find your career with us. It's free and easy. Just fill out your information and find right career!</p>
  </div>
  <div class="col-md-6">
    <h3>Looking to Hire!</h3>
    <p>Find the right candidate can be very easy. Just fill out your aspectation from candidate and find the right candidate for your company</p>
  </div>
</div>